{% extends 'base.html.twig' %}

{% block title %}TVA index{% endblock %}

{% block body %}
    <h1>TVA index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Taux</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_v_a in t_v_as %}
            <tr>
                <td>{{ t_v_a.id }}</td>
                <td>{{ t_v_a.titre }}</td>
                <td>{{ t_v_a.Description }}</td>
                <td>{{ t_v_a.Taux }}</td>
                <td>
                    <a href="{{ path('app_admin_tva_show', {'id': t_v_a.id}) }}">show</a>
                    <a href="{{ path('app_admin_tva_edit', {'id': t_v_a.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_tva_new') }}">Create new</a>
{% endblock %}
