{% extends 'base.html.twig' %}

{% block title %}TVA{% endblock %}

{% block body %}
    <h1>TVA</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ t_v_a.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ t_v_a.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ t_v_a.Description }}</td>
            </tr>
            <tr>
                <th>Taux</th>
                <td>{{ t_v_a.Taux }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_tva_index') }}">back to list</a>

    <a href="{{ path('app_admin_tva_edit', {'id': t_v_a.id}) }}">edit</a>

    {{ include('admin_tva/_delete_form.html.twig') }}
{% endblock %}
